/* work sens font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-weight: 500;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #424242;
}

/* banner style */

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-weight: 400;
}