/* work sens font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}


/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-weight: 500;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #424242;
}

/* banner style */

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 50px;
}

/* main section style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team style */

.team-container {
    display: flex;
    align-items: center;
}

.team-container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin: 0px 50px 120px 30px;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 2.8rem;
}

.team-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-title .our {
    color: #131313;
    font-weight: 700;
}

.team-title .text-feature {
    color: #FF900E;
    font-weight: 700;
}

/* fact section style */
.fact-card-container{
    display: flex;
    justify-content: space-around;
   
}
.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.fact-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    
    
}
.fact-card-container .card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponspors section style */

.sponspors{
    text-align: center;
}
.sponspors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}







/* responsive media queries */

/* small or mobile device */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .fact-card-container,
    .sponspors-img
     {
        flex-direction: column;
    }

    .team-container-img {
        grid-template-columns: 1fr;
    }

    .team-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .fact-card-container{
        gap: 10px;
    }
    .sponspors-img img{
        border: 2px solid blueviolet;
    }
    .sponspors-img{
        gap: 40px;
    }

}

/* medium or tablet device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .sponspors-img {
        flex-direction: column;
    }
    .sponspors-img img{
        border: 2px solid blueviolet;
    }
    .sponspors-img{
        gap: 40px;
    }


}